/* CONTACT PAGE STYLES */
#contact-form {
  padding: 3em 0;
  .container {
    .content {
      .ct-item {
        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }
        p {
          font-weight: 600;
        }
      }
      .social {
        img {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
    }

    form {
      .form-item {
        width: 100%;
        height: fit-content;
        label {
          font-size: 16px;
          font-weight: 700;
          line-height: 18.4px;
          color: var(--foreground-color);
        }
        input,
        textarea,
        select {
          width: 100%;
          color: var(--foreground-color);
          padding: 0.5em;
          border: none;
          border: 1px solid #0000004d;
          outline: none;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;

          &:focus {
            border: 1px solid var(--secondary-accent-color);
          }
          &::placeholder {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #0000004d;
          }
        }
        input {
          height: 33px;
        }
        textarea {
          height: 160px;
        }
        select {
          cursor: pointer;
        }
      }
      button {
        width: fit-content;
        height: fit-content;
        padding: 5px 15px;
        background-color: var(--primary-accent-color);
        color: var(--background-color);
        font-size: 16px;
        font-weight: 700;
        line-height: 18.4px;
        img {
          margin-left: 0.5em;
        }
      }
    }
  }
}

#other-locations {
  height: fit-content;
  min-height: 250px;
  background-color: #fdf2f1;
  padding: 2em 0;
  .container {
    .filter-items {
      height: fit-content;
      position: relative;

      form {
        input {
          width: 160px;
          height: 40px;
          background: transparent;
          color: var(--foreground-color);
          padding: 0.5em;
          border: none;
          border: 1px solid #0000004d;
          outline: none;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;

          &:focus {
            border: 1px solid var(--secondary-accent-color);
          }
          &::placeholder {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #0000004d;
          }
        }
        .items {
          select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
            padding: 8px 32px 8px 16px;
            border: none;
            font-size: 16px;
            color: inherit;
            text-wrap: nowrap;
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 12px;

            // Font Awesome angle-down as background image
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23000' d='M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z'/%3E%3C/svg%3E");

            &:focus {
              outline: none;
            }
          }

          .countries {
            color: var(--primary-accent-color);
            background-color: #e2231a33;
          }

          .services {
            background-color: #ff9e1533;
            color: var(--secondary-accent-color);
          }

          button {
            cursor: pointer;
            padding: 8px 16px;
            background-color: var(--primary-accent-color);
            color: var(--background-color);
            border: none;

            p {
              text-wrap: nowrap;
            }
          }
        }
      }
    }
    .locations {
      .location {
        background-color: var(--background-color);
        padding: 0.5em;
        h6 {
          font-size: 22px;
          font-weight: 700;
          line-height: 27.6px;
          color: var(--foreground-color);
        }
        .ct-item {
          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }
          p {
            font-size: 14px;
            font-weight: 600;
          }
        }
        a {
          font-size: 15px;
          img {
            width: 32px;
            height: 32px;
            object-fit: contain;
          }
        }
      }
    }
  }
}

/* Responsive layout for Mobile devices */
@media (max-width: 768px) {
  #other-locations {
    min-height: fit-content !important;
    .container {
      .filter-section {
        h2 {
          width: 100%;
        }
        form {
          min-height: 180px;
          input {
            width: 100%;
          }
          .items {
            select {
              padding: 8px 32px 8px 16px;
            }

            button {
              padding: 8px 16px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .locations {
        .location {
          h6 {
            font-size: 20px;
            line-height: 27.6px;
          }
          .ct-item {
            img {
              width: 24px;
              height: 24px;
            }
          }
          a {
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}

/* Responsive layout for tablet devices */
@media (max-width: 1024px) {
  #other-locations {
    min-height: 250px;
    .container {
      .filter-section {
        h2 {
          width: 100%;
        }
        .filter-items {
          form {
            height: 35px;
            width: 100%;
            margin-bottom: 1em;
            input {
              font-size: 16px;
              line-height: 22px;
              &::placeholder {
                font-size: 16px;
              }
            }
          }
          span {
            padding: 6px 12px;
          }
        }
      }
      .locations {
        .location {
          h6 {
            font-size: 20px;
            line-height: 27.6px;
          }
          .ct-item {
            img {
              width: 24px;
              height: 24px;
            }
          }
          a {
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
